html,
body {
  height: 100%;
  width: 100%;
}

h1 { color: blue; 
  font-size: 32px;}
/*
/*mg{
  background-color: red
}
*/

.bacon {
  background-color: green;
}

.broccoli{
  background-color: red;
}